<% for (let i = 1; i < 16; i++) { -%>
    <tr>
        <td><input type="text" name="<%= i %>[playerID]" onkeyup="typeChecker(this.value, <%= i %>)"/></td>
        <td><input type="text" name="<%= i %>[playerCodename]" readonly/></td>
    </tr>
    <% } -%>
    </table>
    </div>
    <div class = "column">
    <table>
        <tr>
            <th style="background-color: #757fe4;">Player ID</th>
            <th style="background-color: #757fe4;">Player Codename</th>
        </tr>
        <% for (let i = 16; i < 31; i++) { -%>
        <tr>
            <td><input type="text" name="<%= i %>[playerID]" onkeyup="typeChecker(this.value, <%= i %>)"/></td>
            <td><input type="text" name="<%= i %>[playerCodename]" readonly/></td>
        </tr>
        <% } -%>
    </table>
    </div>