<% for (let i = 0; i < 15; i++) { %>
<tr>
    <% if (typeof players[i] === 'undefined') { %>
        <td><input type="text" name="<%= i %>[playerID]"/></td>
        <td><input type="text" name="<%= i %>[playerName]"/></td>
    <% }  else { %>
    <td><input type="text" name="<%= i %>[playerID]" value="<%= players[i].id %>"/></td>
    <td><input type="text" name="<%= i %>[playerName]" value="<%= players[i].first_name + ' ' + players[i].last_name %>"/></td>
    <% } %>
</tr>
<% } %>

</table>
</div>
<div class = "column">
<table>
    <tr>
        <th style="background-color: #757fe4;">Player ID</th>
        <th style="background-color: #757fe4;">Player Name</th>
      </tr>
<% for (let i = 15; i < 30; i++) { %>
<tr>
    <% if (typeof players[i] === 'undefined') { %>
        <td><input type="text" name="<%= i %>[playerID]"/></td>
        <td><input type="text" name="<%= i %>[playerName]"/></td>
    <% }  else { %>
    <td><input type="text" name="<%= i %>[playerID]" value="<%= players[i].id %>"/></td>
    <td><input type="text" name="<%= i %>[playerName]" value="<%= players[i].first_name + ' ' + players[i].last_name %>"/></td>
    <% } %>
</tr>
<% } %>
</table>
</div>